
.Searchbar {
    position: relative;
    margin-bottom: 20px;
    width: 40%;
    height: 2em;
    border-radius: 10px;
    background-color: #080920;
    border: 0;
    color: white;
    padding: 0.5em 2em;
    box-shadow: 2px 3px 20px 2px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 1em;
}

input:focus::placeholder {
    color: transparent;
  }